<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ME</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">

</head>
<body>
    
</body>
</html>
<div class="container-fluid about-style" id="aboutid" style="margin-top: 150px;">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Me</h1>
            <p class="text-center sub-heading">grow your business with me 🤝</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text">
                    <figure>
                        <img src="images/two.png" alt="herosection_image">
                    </figure>
                </div>
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>I AM A DEVELOPER</h1>
                    <p>I am <span class="bold-style">Athletic</span> can’t you tell? I’m known to surf the web for
                        hours.👻</p>
                    <a href="/me">
                        <button class="btn-style" style="font-size: 25px;">Read More</button>
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>