<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suyog</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container-fluid" style="margin-top: 80px;">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row p-3">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>Have a look at my</h1>
                        <h1>GITHUB PROFILE</h1>
                        <p>Some dynamic<span class="bold-style">Projects✌️</span></p>
                        <div>
                            <a href="/" style="text-decoration: none;">
                                <button class="btn-style">Go Back</button>
                            </a>
                            <a href="https://github.com/suyog-2023"class="m-4">
                                <button class="btn-style"><i class="fa fa-github"></i> Github</button>
                            </a>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1">
                        <figure>
                            <img src="images/ei.png" style="height:450px" alt="herosection_image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>