<div class="container-fluid navbar-style py-2">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-style navbar-expand-lg navbar-light bg-light" style="box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);position:fixed;top:0%;width:100%">
                <a class="navbar-brand" href="#contactid" id="logo">SuyogKulkarni</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse navbar-light navbar-nav nav-link" id="navbarSupportedContent">
                    <ul class="navbar-nav" style="margin-left: 700px;">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#aboutid">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#serviceid">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contactid">Contact</a>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>